td.google-visualization-table-td {
    background-color: #121111;
    background-image: none !important;
}
th.google-visualization-table-th {
    background-color: #121111;
    background-image: none !important;
}
th.gradient {
    background-color: #121111;
    background-image: none !important;
}
span.highlighted {
    font-weight: bolder;
    font-style: oblique;
}
